<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace 命名空间 早期版本是可选的 现在是必须的 可以是随意的名称 但是最好是全限定名称 -->
<mapper namespace="com.bawei.mapper.GoodsMapperDao">
	<select id="findGoodsList" resultType="com.bawei.bean.Goods">
		select * from Goods
	</select>
	
	<select id="addGoodsList" parameterType="com.bawei.bean.Goods">
		insert into Goods (gname,price,gdate) values (#{gname},#{price},#{gdate})
	</select>
	
	<select id="likeGoodsList" resultType="com.bawei.bean.Goods" parameterType="string">
		select * from Goods where gname like concat('%',#{value},'%')
	</select>
	
	<select id="delGoodsList" parameterType="int">
		delete from Goods where gid = #{fds}
	</select>
	
	<select id="updGoodsList" parameterType="com.bawei.bean.Goods">
		update Goods set gname = '黄瓜'   where gid = #{bbc}
	</select>

	<select id="findByNameOrPrice" resultType="com.bawei.bean.Goods">
		select * from Goods where gname like concat('%',#{0},'%') and price > #{1}
	</select>
	<select id="findByNameOrPrice1" resultType="com.bawei.bean.Goods" parameterType="map">
		select * from Goods where gname like concat('%',#{gname},'%') and price > #{num}
	</select>
</mapper>